:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --main-font-family: "Playfair Display", serif;
  --secondary-font-family: "Nunito", sans-serif;
}

body {
  color: var(--primary-color);
}
nav {
  font-family: var(--main-font-family);
}
h1,
h3 {
  font-family: var(--main-font-family);
  font-size: 5vw;
}

h2 {
  font-family: var(--secondary-font-family);
  font-size: 2vw;
}
p {
  font-size: 1.8vw;
}
i {
  color: var(--secondary-color);
  font-size: 4vw;
}
a {
  font-size: 1.5vw !important;
}
.home-icon {
  display: inline-block;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 100px;
  line-height: 1 !important;
  font-family: none !important;
}
.home-icon i {
  font-size: 4vw;
}
.content {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-image: url("../images/main-background.png");
  width: 98.7vw;
  min-height: 146vh;
}
.heading {
  padding-top: 28vh;
  padding-left: 6.5vw;
}
.homepage-buttons {
  display: flex;
  flex-direction: column;
  margin: 20vh 0 0 30vw;
  width: 12vw;
}
.btn-light:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
  top: 130vh;
}
.social-icons-about {
  display: flex;
  justify-content: space-evenly;
  top: 140vh;
}
.social-icons-project {
  display: flex;
  justify-content: space-evenly;
  top: 10vh;
  right: 0;
}
.profile-picture {
  width: 271px;
  border-radius: 50px;
  position: absolute;
  top: 128px;
  right: 128px;
}
.extra-headings {
  padding-top: 15vh;
  padding-left: 6vw;
}
.about-par-1 {
  margin-left: 6vw;
  margin-top: 2vh;
}
.about-par-2 {
  margin-left: 30vw;
  margin-top: 100px;
}
.project-link {
  color: var(--primary-color);
  font-family: var(--secondary-font-family);
  text-decoration: none;
}
.project-link:hover {
  text-decoration: underline;
}
.project-image img {
  max-width: 50vw;
  max-height: 80vh;
  margin-top: 10vh;
  border-radius: 20px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .heading {
    padding-top: 15vh !important;
  }
  .projects-button {
    top: 70vh !important;
  }
  .contact-button {
    top: 77vh !important;
  }
  .social-icons,
  .social-icons-about {
    top: 8vh;
    right: 0;
  }
  .about-par-2 {
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  .projects-button {
    top: 51vh !important;
  }
  .contact-button {
    top: 58vh !important;
  }
  .profile-picture {
    display: none;
  }
}
@media (max-width: 700px) {
  .projects-button {
    top: 51vh !important;
  }
  .contact-button {
    top: 58vh !important;
  }
  .homepage-buttons {
    margin: 10vh 0 0 20vw !important;
    flex-direction: row !important;
    min-width: 50vw !important;
  }
  a {
    font-size: 3vw !important;
  }
  p {
    font-size: 3vw;
  }
  .about-par-2 {
    margin-top: 500px;
  }
}
@media (max-width: 500px) {
  .content {
    background-image: url("../images/small-background.png") !important;
    width: 100vw;
    min-height: 900px;
  }
  h1,
  h3 {
    max-width: 234px !important;
    font-size: 36px !important;
  }
  h2 {
    font-size: 24px !important;
    text-align: center;
    width: 184px;
    margin-top: 90px;
    margin-left: 142px;
  }
  .heading {
    padding-top: 101px !important;
  }
  .contact-button {
    left: 48vw !important;
  }
  .fa-facebook,
  .fa-linkedin,
  .fa-instagram {
    padding-right: 4vw !important;
  }
  i {
    font-size: 9vw !important;
  }
  .social-icons {
    top: 90vh;
    right: auto;
  }
  .about-par-2 {
    margin-top: 50px;
    margin-left: 50vw;
  }
}
